# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE
.idea
.vscode
*.swp
*.swo

# Build output
dist
build

# Environment files
.env
.env.*
*.env

# Git
.git
.gitignore

# Tests
coverage
.nyc_output
test

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# Misc
README.md
LICENSE
.dockerignore
docker-compose*
Dockerfile

.github
.husky
.prettierignore
.prettierrc
.eslintrc
.eslintignore
eslint.config.mjs
release.config.js
.commitlintrc.js
CHANGELOG.md
Dockerfile